//these commands should be run in cmd with administrative permission.
copy and paste these all pip install commands.


pip install tk-tools
pip install opencv-contrib-python
pip install datetime
pip install pytest-shutil
pip install python-csv
pip install numpy
pip install pillow 
pip install pandas
pip install times


//if all pip install completed successfully, then run the attendence.py file.
//contact
instagram- @mkr_infinity
telegram-  @mkr_infinity
